<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="

           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Service -->
    <!-- <bean id="applicationService" class="com.lungesoft.spring.rmi.service.impl.ServiceExampleImpl" />-->

    <jee:jndi-lookup id="applicationService"
                     jndi-name="java:global/rmi-ear/ejb-injection/ServiceExampleImpl"/>

    <!-- Exporter -->
    <bean name="/example" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="applicationService" />
        <property name="serviceInterface" value="com.lungesoft.spring.rmi.service.ServiceExample" />
    </bean>
</beans>